.wrap {
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  padding-top: 60px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.view {
  display: inline-block;
}

.sidenav {
  position: fixed;
  height: 100%;
  left: 0;
  top: 60px;
  background-color: #fff;
  width: 300px;
  display: inline-block;
  border-right: 2px solid whitesmoke;
}

.view {
  min-height: 100%;
  width: 100%;
  background-color: #ffffff;
  height: auto;
  box-sizing: border-box;
}
.view.openSideNav {
  padding-left: 300px;
}

#gnavi-links ul {
  padding: 40px 20px;
}

.nav-links > ul {
  width: 220px;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

#menu {
  font-size: 1.6em;
}

#gnavi-links li {
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}

#gnavi-links li a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 25px;
  color: #1a1a1a;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  letter-spacing: 0.25em;
  font-weight: bold;
  font-size: 1.2em;
}

.hover-line-links a > span,
a.hover-line > span {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
#gnavi-links li a.active span {
  text-decoration: underline;
}
