<div class="wrap">
  <vidly-navigation>

  </vidly-navigation>
  <div *ngIf="openSideNav" class="sidenav">
    <nav id="gnavi-links" class="nav-links nav-open">
      <ul class="hover-line-links">
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/music" routerLinkActive="active">
            <span>Music</span>
          </a>
        </li>
        <li>
          <a routerLink="/users" routerLinkActive="active">
            <span>Users</span>
          </a>
        </li>
        <li>
          <a routerLink="/canva" routerLinkActive="active">
            <span>Canvas</span>
          </a>
        </li>
        <li>
          <a routerLink="/grid" routerLinkActive="active">
            <span>Grid/flexbox</span>
          </a>
        </li>
        <li>
          <a routerLink="/component" routerLinkActive="active">
            <span>Ui Component Reusable</span>
          </a>
        </li>
        <li>
          <a routerLink="/contacts" routerLinkActive="active">
            <span>Contacts</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
  <div [ngClass]="{'openSideNav': openSideNav}" class="view">
    <router-outlet></router-outlet>
  </div>


</div>