.wrap {
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  padding-top: 60px;
}

.view {
  display: inline-block;
}

.sidenav {
  position: fixed;
  height: 100%;
  left: 0;
  top: 60px;
  background-color: #fff;
  width: 300px;
  display: inline-block;
}

.view {
  min-height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  height: auto;
  box-sizing: border-box;
}
.view.openSideNav {
  padding-left: 300px;
}
