<form [formGroup]="profileForm" class="example-form" (ngSubmit)="onSubmit()">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="First Name" type="text" formControlName="firstName">
  </mat-form-field>
  <!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="lastName Name" type="text" formControlName="lastName">
  </mat-form-field> -->
  <vidly-input [formControlName]="'lastName'" [form]="profileForm"></vidly-input>

  <div formGroupName="address">
    <p>Address</p>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Street" type="text" formControlName="street">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="City" type="text" formControlName="city">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="State" type="text" formControlName="state">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="zip" type="text" formControlName="zip">
    </mat-form-field>
  </div>
  <div formArrayName="phones">
    <button mat-button (click)="addPhone()">Add phone</button>
    <div *ngFor="let phone of phones.controls; let i=index">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="phone" type="text" [formControlName]="i">
      </mat-form-field>
    </div>
  </div>
  
  <button mat-button type="submit" [disabled]="!profileForm.valid">Submit</button>
  <button mat-button (click)="updateProfile()">UpdateProfile</button>

</form>

<span> value: {{profileForm.value | json}}</span>
<!-- <span> status: {{profileForm.status | json}}</span> -->

<vidly-input  [(ngModel)]="somefield"></vidly-input>