<div id="header">
  <div class="container">

    <div id="logo">
      <a href="/" class="hover-line">
        <span>1988</span>
      </a>
    </div>


    <div id="gnavi" class="nav">
      <div class="nav-btn">
        <a mat-button (click)="toggleProjects()">PROJECTS</a>
      </div>
    </div>

    <!-- 
    <div id="cnavi" class="nav">
      <div class="nav-btn">
        <a href="#cnavi-links">
          <i class="icon-search icon"></i>
          <span class="label">

            <span class="main-label">ALL</span>

          </span>
        </a>
      </div>
    </div> -->

  </div>
</div>