#header {
  position: fixed;
  height: 60px;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  -webkit-transition: top 300ms ease-out;
  -moz-transition: top 300ms ease-out;
  -o-transition: top 300ms ease-out;
  transition: top 300ms ease-out;
}

#logo {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -140px;
  width: 280px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5em;
}

#logo a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  color: #1a1a1a;
  font-size: 1.4em;
  padding: 0 20px;
}

a.hover-line > span {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

#logo a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  color: #1a1a1a;
  font-size: 1.8em;
  padding: 0 20px;
}

#gnavi {
  float: left;
}
.nav {
  height: 60px;
  font-size: 1.6em;
}
.nav-btn {
  height: 60px;
  line-height: 60px;
}

.nav-btn a {
  display: inline-block;
  line-height: 40px;
  color: #1a1a1a;
}

.nav-btn a .label {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  letter-spacing: 0.25em;
}

#cnavi {
  float: right;
  text-align: right;
}

.nav {
  height: 60px;
  font-size: 1.6em;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}

.container:after {
  clear: both;
}
