<div id="header">
  <div class="container">

    <div id="logo">
      <a href="/" class="hover-line">
        <span>IVAN KORETSKYY</span>
      </a>
    </div>


    <div id="gnavi" class="nav">
      <div class="nav-btn">
        <a href="#gnavi-links">
          <span class="bars">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </span>
          <span class="label">PROJECTS</span>
        </a>
      </div>
    </div>


    <div id="cnavi" class="nav">
      <div class="nav-btn">
        <a href="#cnavi-links">
          <i class="icon-search icon"></i>
          <span class="label">

            <span class="main-label">ALL</span>

          </span>
        </a>
      </div>
    </div>

  </div>
</div>