@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~font-awesome/css/font-awesome.css";
body {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-button {
  font-weight: 700;
}
